.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.facebook__social {
    color: var(--clr-slate400);
    font-size: var(--size-md);
    cursor: pointer;
    transition: color 0.5s;
}

.github__social {
    color: var(--clr-slate400);
    font-size: var(--size-md);
    cursor: pointer;
    transition: color 0.5s;
}

.mail__social {
    color: var(--clr-slate400);
    font-size: var(--size-md);
    cursor: pointer;
    transition: color 0.5s;
}

.facebook__social:hover,
.github__social:hover,
.mail__social:hover {
    color: var(--clr-orange);
    display: inline-block;
    animation: ring 0.5s;
}


/* @media (max-width: 767px) {
    
}

@media (min-width: 768px) {
    
} */

@media (min-width: 1024px) {
    .contact__socials {
        gap: var(--size-xl);
    }

    .facebook__social {
        font-size: var(--size-lg);
    }

    .github__social {
        font-size: var(--size-lg);
    }

    .mail__social {
        font-size: var(--size-lg);
    }
    
}

@media (min-width: 1440px) {
    .contact__socials {
        gap: var(--size-3xl);
    }

    .facebook__social {
        font-size: var(--size-xl);
    }

    .github__social {
        font-size: var(--size-xl);
    }

    .mail__social {
        font-size: var(--size-xl);
    }
}

@media (min-width: 2560px) {
    .hero__socials {
        gap: var(--size-5xl);
    }

    .facebook__social {
        font-size: var(--size-2xl);
    }

    .github__social {
        font-size: var(--size-2xl);
    }

    .mail__social {
        font-size: var(--size-2xl);
    }
}