
.hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero__img {
    border-radius: 50%;
    width: 100%;  
    max-width: 180px;
    box-shadow: 4px 4px 6px var(--clr-box-shadow);
}

.hero__title {
    font-size: var(--size-2xl);
    color: var(--clr-slate400);
    margin-bottom: 1rem;
}

.hero__name {
    font-size: var(--size-xl);
    color: var(--clr-goldenrod);
    margin-bottom: 1rem;
}

.hero__description {
    text-indent: var(--size-sm);
    word-spacing: 0.5rem;
    font-size: var(--size-lg);
    color: var(--clr-slate400);
    margin-bottom: 1rem;
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.5px;
}

.hero__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.facebook__social {
    color: var(--clr-light);
    font-size: var(--size-md);
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.5s;
}

.github__social {
    color: var(--clr-light);
    font-size: var(--size-md);
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.5s;
}

.mail__social {
    color: var(--clr-light);
    font-size: var(--size-md);
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.5s;
}

.facebook__social:hover,
.github__social:hover,
.mail__social:hover {
    transform:rotate();
    color: var(--clr-orange);
    display: inline-block;
    animation: ring 0.5s;
}



/* media queries */
@media (max-width: 767px) {
    .hero__content {
        flex-direction: column;
        text-align: center;
    }

    .hero__img {
    max-width: 100px;
    height: auto;
    }

    .hero__title {
    font-size: var(--size-md);
    margin-bottom: 0.7rem;
    }

    .hero__name {
        font-size: var(--size-sm);
        margin-bottom: 0.7rem;
    }

    .hero__description {
        font-size: var(--size-xs);
        margin-bottom: 0.7rem;
    }
}

@media (min-width: 768px) {
    .hero__img {
    border-radius: 50%;
    width: 100%;  
    max-width: 150px;
    }

    .hero__title {
    font-size: var(--size-lg);
    margin-bottom: 1rem;
    }

    .hero__name {
        font-size: var(--size-md);
        margin-bottom: 1rem;
    }

    .hero__description {
        font-size: var(--size-sm);
        margin-bottom: 1rem;
        max-width: 70%;
    }
    
}

@media (min-width: 1024px) {
    .hero__description {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: var(--size-md);
        border-radius: 8px;
    }

    .hero__img {
        max-width: 160px;
        margin-bottom: 1.5rem;
    }

    .hero__title {
        font-size: var(--size-xl);
    }

    .hero__name {
        font-size: var(--size-lg);
    }

    .hero__socials {
        margin-top: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .hero__img {
    max-width: 300px;
    }

    .hero__socials {
        margin-top: 3rem;
        gap: var(--size-3xl);
    }

    .facebook__social {
        font-size: var(--size-xl);
        margin-top: 1rem;
    }

    .github__social {
        font-size: var(--size-xl);
        margin-top: 1rem;
    }

    .mail__social {
        font-size: var(--size-xl);
        margin-top: 1rem;
    }
    
    .hero__title {
    font-size: var(--size-3xl);
    margin-bottom: 1.7rem;
    }

    .hero__name {
        font-size: var(--size-2xl);
        margin-bottom: 1.7rem;
    }
}

@media (min-width: 2560px) {
    .hero__img {
    max-width: 400px;
    }

    .hero__socials {
        margin-top: 3rem;
        gap: var(--size-5xl);
    }

    .facebook__social {
        font-size: var(--size-2xl);
        margin-top: 1rem;
    }

    .github__social {
        font-size: var(--size-2xl);
        margin-top: 1rem;
    }

    .mail__social {
        font-size: var(--size-2xl);
        margin-top: 1rem;
    }

    .hero__title {
    font-size: var(--size-4xl);
    margin-bottom: 3rem;
    }

    .hero__name {
        font-size: var(--size-3xl);
        margin-bottom: 2rem;
    }

    .hero__description {
        font-size: var(--size-2xl);
        margin-bottom: 2rem;
    }
}

